{extend name="layout:layout" /}
{block name="content"}
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a>网站管理</a>
            <a>
              <cite>操作日志</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>

<script>
    layui.use(['laydate'], function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

    });

    layui.use('table', function(){
        var table = layui.table;
    });


    function delAll () {
        layer.confirm('确定要全部删除吗？',function(){
            $.post('{:url("index/log_list")}',{state:0},function (data) {
                if(data.err ==200){
                    layer.msg(data.msg,{icon:6,time:1000},function () {
                        location.reload()
                    });
                }else {
                    layer.msg(data.msg,{icon:5,time:2000});return false;
                }
            });
        });
    }
</script>
{block