{extend name="layout:layout" /}
{block name="content"}
<style>
    .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;}
</style>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <input type="hidden" name="key" value="{$key}">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>网站名称（前端）：</label>
                <div class="layui-input-inline">
                    <input type="text"  name="home_name" value="{$ting.content['home_name']}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>网址（前端）：</label>
                <div class="layui-input-inline">
                    <input type="text"  name="home_url" value="{$ting.content['home_url']}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>网站名称（后端）：</label>
                <div class="layui-input-inline">
                    <input type="text" name="admin_name"  value="{$ting.content['admin_name']}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>Logo：</label>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="logo1">上传图片</button>
                    <div style="margin: 7px 0;">
                        <img class="layui-upload-img" id="logo2" src="{$ting.content['img']}">
                        <p id="demoText"></p>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>关键字：</label>
                <div class="layui-input-inline">
                    <input type="text"  name="keywords" value="{$ting.content['keywords']}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>摘要：</label>
                <div class="layui-input-inline">
                    <input type="text"  name="description" value="{$ting.content['description']}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>备案信息：</label>
                <div class="layui-input-inline">
                    <textarea placeholder="网站备案信息" name="archival"  class="layui-textarea">{$ting.content['description']}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {


                console.log(data);return false
        });
    });

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#logo1'
            ,url: '{:url("index/img_update",array("type"=>0))}' //改成您自己的上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#logo2').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                console.log(res);
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        })
    });
</script>
{/block}
