{extend name="layout:layout" /}
{block name="content"}
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <input type="hidden" name="id" value="{$one.id}">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>姓名：</label>
                <div class="layui-input-inline">
                    <input type="text"  name="name" value="{$one['name']}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">手机号：</label>
                <div class="layui-input-inline">
                    <input type="text"  name="phone" value="{$one['phone']}" lay-verify="required|phone" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">密码：</label>
                <div class="layui-input-inline">
                    <input type="password" name="password"  value=""  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">新密码：</label>
                <div class="layui-input-inline">
                    <input type="password"  name="r_password" value="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;">
                    <span class="x-red">*</span>状态：</label>
                <div class="layui-input-inline">
                    <input type="radio" name="state" value="0" lay-skin="primary" title="启用" {if condition="$one.state eq 0"} checked="checked" {/if}>
                    <input type="radio" name="state" value="1" lay-skin="primary" title="禁用" {if condition="$one.state eq 1"} checked="checked" {/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 150px;"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //监听提交
            form.on('submit(add)', function (data) {
                $.post('{:url("administrator/admin_edit")}',{id:data.field.id,name:data.field.name,phone:data.field.phone,password:data.field.password,r_password:data.field.r_password,state:data.field.state},function (arr) {
                    if(arr.err==200){
                        layer.msg(arr.msg,{icon:6,time:1000},function () {
                            xadmin.close();
                        });return false;
                    }else {
                        layer.msg(arr.msg,{icon:5,time:1000});return false;
                    }
                });
            });
        });
</script>
{/block}
